<p style="position: relative; top: 0; left: 0; right: 0; text-align: center; font-size: 40px; border: 5px; border-style: solid; background: darkorchid; color:white;">ZOO</p>

<app-birds> </app-birds>

<app-mammals> </app-mammals>
